<%# uikit.lewagon.com/documentation#banner %>


<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container text-center">
    <h1>AirCnC</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
  </div>
</div>
<div class="container justify-content-center">
<img id="banner-logo" src="https://github.com/Arth-M/air_cnc/blob/master/public/aircnc_logo.png?raw=true" alt="aircnc_logo">
</div>
