<%# uikit.lewagon.com/documentation#card_product %>

<div class="card-product mt-2">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2><%= review.comment %></h2>
    <p>Note <%= review.rating %><strong>/5</strong></p>
  </div>
</div>
