<%# uikit.lewagon.com/documentation#cards_grid %>


<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    render "card_flat_vertical"
  </div>
</div>
