<%# uikit.lewagon.com/documentation#card_product %>
<div class="card-product">
    <% @flats.each do |flat| %>
      <%= link_to flat_path(flat) do %>
        <div class="one-card">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <div class="card-product-infos">
            <h2><%= flat.name %></h2>
            <p><%= flat.price %> <strong>€</strong> </p>
            <p><%= flat.full_address %> <strong>€</strong> </p>
          </div>
        </div>
      <% end %>
  <% end %>
</div>
