<%= render "components/banner_search" %>
<div class="container m-5">
  <div class="cards">
    <% @flats.each do |flat| %>
    <%= render "/components/card_flat_vertical", flat: flat %>
    <% end %>
  </div>
</div>
