<div data-controller="flat-review-stars">

<%= simple_form_for([@booking_id, @flat_review]) do |f| %>
  <%= f.input :comment %>
  <input type="hidden" name="flat_review[rating]" id="flat_review_rating" data-flat-review-stars-target="rating">
  <div class="my-3" >
    <% FlatReview::AUTHORIZED_RATINGS.each do |index| %>
      <i
        class="review-rating far fa-star"
        data-id="<%= index %>"
        data-flat-review-stars-target="star"
        <%# data-target="flat-review-stars.star" %>
        data-action="click->flat-review-stars#selectRating mouseover->flat-review-stars#hoverRating">
      </i>
    <% end %>
    <!-- Gestion du survol de la souris en dehors des étoiles -->
    <div id="review-star-ratings" data-action="mouseout->flat-review-stars#resetStars"></div>
  </div>

  <%= f.submit class: "btn btn-primary" %>
<% end %>
</div>
