.btn-flat {
  background-color: $main;
  &:hover{
    background-color: $secondary;
  }
}

.btn-flat:hover {
  background: #4D04C4;
  color: white;
}

.btn {
  background-color: $main;
  &:hover{
    background-color: $secondary;
  }
}
